<h2>Add List</h2>
<form onsubmit={{action "save"}}>
  {{input type="text" placeholder="Enter list name" class="form-control" value=list}}
  {{input type="text" placeholder="Enter card title" class="form-control" value=title}}
  <button class="full-width btn btn-save">Save</button>
</form>